<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Main Bersama API Documentation</title>
</head>
<body>
    <h1>Selamat Datang di Dokumentasi API Aplikasi Main Bersama</h1>
    <a href="https://jcc-adonis-final-project.herokuapp.com/docs/">Link Menuju Dokumentasi</a>
</body>
</html>